.ng-valid:not(form).ng-touched{
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched{
    border-left: 5px solid #a94442;
}

.pointer{
    cursor: pointer;
}

.custom-form {
    width: 400px; /* Establece un ancho específico para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente en la pantalla */
}