<div class="container mt-5">
    <h2>Personas</h2>
    <button type="button" class="btn btn-primary mb-3" (click)="openCreateModal()">Nueva Persona</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Identificación</th>
                <th>No Identificación</th>
                <th>ID No + Tipo</th>
                <th>Nombre Completo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of persons">
                <td>{{ item.id }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.lastName }}</td>
                <td>{{ item.identificationType.name }}</td>
                <td>{{ item.identificationNumber }}</td>
                <td>{{ item.concatenatedIdentification }}</td>
                <td>{{ item.fullName }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="openDeleteModal(item.id!)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #createModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Crear Persona</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="personForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input formControlName="name" type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input formControlName="lastName" type="text" class="form-control" id="lastName" name="lastName"
                        required>
                </div>
                <div class="form-group">
                    <label for="identificationType">Tipo de Identificación</label>
                    <select formControlName="identificationType" class="form-control" id="identificationType" name="identificationType" required>
                        <option *ngFor="let item of identificationTypes" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lastName">No Identificación</label>
                    <input formControlName="identificationNumber" type="text" class="form-control" id="lastName" name="lastName"
                        required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeCreateModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="createPerson()">Guardar</button>
        </div>
    </ng-template>

    <ng-template #deleteModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Confirmar Eliminación</h4>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar este registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
        </div>
      </ng-template>
</div>